body {
	background-image: url('https://media.giphy.com/media/dsd7XbYg0e6hG0A7i8/giphy.gif');
	background-position: left-top;
  	background-repeat: repeat-y;
  	background-size: cover;
	color: #fff;
	margin:0;
	padding:0;
}
*::-moz-selection{ background: #fc5055;color: #fff;}
*::selection { background: #fc5055;color: #fff; }
.bgeffect {
	height:auto;
	width:100%;
	background-color:rgba(0,0,0,0.65);
	margin:0;
	padding:0;
	justify-content: center;
  text-align:center;
}
x-sign {
  --interval: 1s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
  color: #f84a50;
  --color1: #ff0009;
  --color2: #e8797d;
  --color3: #c7171e;
  --color4: #681316;
  font-family: Monoton;
  font-size:90px;
  padding:30px;
}
