
.snippet {
background-color: #F7EAF5;
width: 40%;
font-size: 13px;
border-style: solid;
border-width: thin thin thin 4px;
border-color: #ea9bb3;
display: flex;
align-items: center;
justify-content: space-between;
}