body {
	background-image: url('https://media.giphy.com/media/j3mdQpQ9SKxFOWs9gy/giphy.gif');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	color: #fff;
	margin:0;
	padding:0;
}
*::-moz-selection{ background: #de00ff;color: #fff;}
*::selection { background: #de00ff;color: #fff; }
.bgeffect {
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.5);
	margin:0;
	padding:0;
	justify-content: center;
  	text-align:center;
}
.content {
  align-items: center;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'ABeeZee', sans-serif;
}	
.logo{
	transition: transform .4s ease;
	cursor: pointer;
}
.logo:hover{
    transform: scale(1.1);
}
.join a {
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 65px 55px;
  color: #de00ff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 30px;
  background: #000;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 0px 8px rgba(222, 0, 255, 0.7);
  opacity:0.6;
  transition: transform .4s ease;

}

.join a:hover {
	transform:scale(1.1);
}
.logodesc a{
  position: relative;
  display: inline-block;
  margin:5px 0px 0px;
  left:35%;
  color: #000;
  font-size: 15px;
  text-shadow: 0 0 10px rgba(222, 0, 255, 0.7);
  text-decoration: none;
  transition: transform .4s ease;
  font-family: 'Montserrat', sans-serif;
  opacity:0.8;
}
.logodesc a {
	font-size: 17;
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 3px #6b13be, 0 0 3px #6b13be, 0 0 30px #6b13be, 0 0 30px #6b13be, 0 0 1.3px #de00ff, 0.1px 0.1px 1px #8e15a0;
    color: #de00ff;
  }
  50% {
    text-shadow: 0 0 3px #7c178c, 0 0 3px #7c178c, 0 0 30px #7c178c, 0 0 30px #7c178c, 0 0 1.3px #7c178c, 0.1px 0.1px 1px #751184;
    color: #8e15a0;
  }
}
.logodesc a:hover{
  transform:scale(1.1);
  color:#de00ff;
  animation:none;
  text-shadow:0 0 3px #6b13be;
}
.modal {
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.7);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items:center;
  display: none;
}
.modal-content {
  width: 690px;
  height: 510px;
  background-color: rgba(172, 62, 188, 0.9);
  border-radius: 14px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 2px 8px rgba(222, 0, 255, 0.8);
}
.modal-content p{
	padding: 12px 35px 20px;
}
.close {
  color: #000;
  position:relative;
  top:0;
  left: 45%;
  padding:0;
  margin:0;
  font-size:42px;
  transform: rotate(45deg);
  cursor: pointer;
}
.modal p{
  font-size: 20px;
  color: #000;
  margin:0;
}
.insta {
	justify-content: center;
	align-items:center;
  padding:0;
  margin:0;
	transition: transform .4s ease;
}
.insta img {
	width:35px;
	height:35px;
  padding:0;
	margin:0;
  vertical-align: middle;
  padding-right:5px;
}
.insta a{
	color:#000;
	font-size:20px;
	text-decoration: none;
	transition: transform .4s ease;
  position:relative;

}
.insta:hover{
	transform:scale(1.1);
}

.TOS {
  position: relative;
  top:95%;
  font-size:11px;
  color: #de00ff;
  font-family:"Montserrat";
}
.TOS a{
  color:#de00ff;
}
.TOS a:hover{
  color:#fff;
}

.discord {
  padding-top:20px;
}
.mza7 {
  padding-top:20px;
  color:#000;
  font-size:20px;
  text-decoration: none;
  position:relative;}
.disclink {
  font-size:20px;
  color:#000;
}

.disclink:hover{
  font-weight:800;
}

.counter x-sign {
  --interval: 1s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
  color: #ef87ff;
  --color1: #de00ff;
  --color2: #e966fc;
  --color3: #b200cc;
  --color4: #4a0f53;
  font-family: Monoton;
  font-size:20px;
  padding:0;
  margin: 0;
}
.counter h3 {
  --interval: 1s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
  color: #ef87ff;
  --color1: #de00ff;
  --color2: #e966fc;
  --color3: #b200cc;
  --color4: #4a0f53;
  font-size:30px;
  padding:0;
  margin:0;
  font-family:"Bebas Neue";
}
.counter{
  top:80%;
  position:absolute;
  margin:20px;
}
